body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.flag-new {
  background: url('../img/new-flag.png') no-repeat 0 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
  background-color: #f2f7f8;
  background-image: url('../img/header-bg.jpg');
  background-repeat: repeat;
  background-position: 0 0;
}

.inner-page .main-header {
  margin-bottom: 15px;
}

.top-header {
  width: 100%;
  margin-bottom: 45px;
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.top-header-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header a {
  display: block;
}

.main-logo {
  display: inline-block;
  width: 220px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 5px 0 0 #ba2732;
  background-color: #ee3643;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.main-logo img {
  width: 111px;
  height: 18px;
  margin: 0;
  padding: 12px 54px;
  vertical-align: middle;
}

.search-form {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
}

.search-form .search {
  width: 100%;
  margin: 0;
  padding: 12px 0;
  padding-left: 49px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  box-sizing: border-box;
}

.button-search {
  position: absolute;
  top: 0;
  left: 15px;
  width: 17px;
  height: 17px;
}

.search-form .search:hover {
  background-color: #212a3a;
}

.search-form .search:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-form .search:active {
  background-color: #293449;
}

.button-search {
  display: block;
  margin: 0;
  padding: 12px 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.search:hover ~ .button-search {
  opacity: 1;
}

.search:focus ~ .button-search {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 1;
}

.search:focus ~ .button-search path {
  fill: #ee3643;
}

.header-market-link,
.header-basket-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 21px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}
.header-market-link {
  padding: 12px 26px 12px 44px;
}
.header-market-link:before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 17px;
  background-image: url('../img/icon-bookmark.svg');
  background-position: 0 0;
  opacity: 0.3;
}

.header-basket-link {
  padding: 11px 29px 13px 50px;
}

.header-basket-link:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 18px;
  background-image: url('../img/icon-cart.svg');
  background-position: 0 0;
  opacity: 0.3;
}

.header-chekorder-link {
  padding: 13px 22px;
  margin-right: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  background-color: #63a63e;
}

.header-market-link,
.header-basket-link {
  padding: 12px 29px 14px 44px;
}

.header-market-link:hover,
.header-basket-link:hover,
.bookmarks:focus,
.header-basket-link:focus {
  background-color: #212a3a;
}

.header-market-link:active,
.header-basket-link:active {
  background-color: #161d29;
}

.header-chekorder-link:hover,
.header-chekorder-link:focus {
  background-color: #5fbb2d;
}

.header-chekorder-link:active {
  background-color: #518534;
}

.header-market-link:hover::before,
.header-basket-link:hover::before,
.header-market-link:focus::before,
.header-basket-link:focus::before {
  opacity: 1;
}

.header-market-link,
.header-basket-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 21px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.header-market-link {
  padding: 12px 26px 12px 44px;
}

.header-market-link:before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 17px;
  background-image: url('../img/icon-bookmark.svg');
  background-position: 0 0;
  opacity: 0.3;
}

.header-basket-link {
  padding: 11px 29px 13px 50px;
}

.header-basket-link:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 18px;
  background-image: url('../img/icon-cart.svg');
  background-position: 0 0;
  opacity: 0.3;
}

.header-chekorder-link {
  padding: 13px 22px;
  margin-right: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  background-color: #63a63e;
}

.header-market-link,
.header-basket-link {
  padding: 12px 29px 14px 44px;
}

.header-market-link:hover,
.header-basket-link:hover,
.bookmarks:focus,
.header-basket-link:focus {
  background-color: #212a3a;
}

.header-market-link:active,
.header-basket-link:active {
  background-color: #161d29;
}

.header-chekorder-link:hover,
.header-chekorder-link:focus {
  background-color: #5fbb2d;
}

.header-chekorder-link:active {
  background-color: #518534;
}

.header-market-link:hover::before,
.header-basket-link:hover::before,
.header-market-link:focus::before,
.header-basket-link:focus::before {
  opacity: 1;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}

.header-bottom p {
  width: 196px;
  margin: 0;
  padding: 0;
  padding-left: 54px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}

.header-bottom-contacts {
  width: 250px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.phone {
  position: relative;
  width: 170px;
  padding: 9px 35px;
  padding-left: 64px;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0.42px;
  text-align: center;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.phone::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: 15px;
  background: url('../img/icon-phone.svg') no-repeat 0 0;
}

address {
  width: 270px;
  padding: 4px 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #32425c;
}

.user-nav {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.user-nav-list {
  width: 299px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-nav-item {
  margin: 0;
  padding: 0;
}

.user-login-link,
.user-registration-link {
  display: block;
  position: relative;
  margin: 0;
  padding: 12px 25px;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.user-login-link::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 15px;
  left: 14px;
  background-image: url('../img/icon-login.svg');
  background-position: 0 0;
  background-color: transparent;
  opacity: 0.3;
}

.user-login-link:hover::before {
  opacity: 1;
}

.user-login-link:hover,
.user-login-link:focus,
.user-registration-link:hover,
.user-registration-link:focus {
  color: #ee3643;
}

.user-login-link:active::before {
  opacity: 0.3;
}

.user-login-link:active,
.user-registration-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-login-link {
  width: 121px;
  margin-right: 10px;
  padding: 13px 25px 13px 47px;
  box-sizing: border-box;
}

.user-registration-link {
  width: 150px;
  padding: 13px 25px 13px;
  box-sizing: border-box;
}

.main-nav {
  width: 940px;
  margin-bottom: 60px;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
  box-sizing: border-box;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #32425c;
}

.main-nav-item {
  margin: 0;
  padding: 0;
}

.main-nav-link {
  padding: 20px 31px 23px 30px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}


.main-nav-link:hover,
.main-nav-link:focus {
  background-color: #293149;
}

.main-nav-link:active {
  background-color: #1d2439;
}

.promo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.promo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo-item {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  overflow: hidden;
}

.promo-item h3 {
  margin: 0;
  padding: 18px 22px 24px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}
.promo-item:nth-child(3n) {
  margin-right: 0;
}

.promo-item:first-child {
  order: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url('../img/icon-1.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
  background-color: #ffbf47;
}
.promo-item:nth-child(2) {
  order: 2;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #3bbce3;
  background-image: url('../img/icon-2.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
}
.promo-item:nth-child(3) {
  order: 3;
  margin-right: 0;
  background-color: #dc91d8;
  background-image: url('../img/icon-3.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
}
.vertical-promo-item {
  order: 5;
  width: 300px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vertical-promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo-special-offers-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  background-color: #8ed78f;
  background-image: url('../img/icon-4.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
}
.promo-delivery-item {
  width: 300px;
  height: 123px;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #ffc047;
  background-image: url('../img/icon-5.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
}
.flag-new {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.promo-link {
  margin-left: 22px;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 17.5px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 2px;
}
.promo-link:hover,
.promo-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo .slider {
  position: relative;
  width: 620px;
  height: 266px;
  order: 4;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  /* временно  */
  background-color: #ccc;
}

.popular-products {
  margin-bottom: 21px;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-products-heading,
.popular-brands-heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #32425c;
}

.popular-products-heading {
  margin: 0;
  padding: 27px 27px;
}

.popular-brands-heading {
  margin: 0;
  padding: 27px 23px;
}

.popular-products-link,
.popular-brands-link {
  display: block;
  margin: 25px 24px;
  padding: 10px 55px;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  box-sizing: border-box;
}

.popular-brands-link {
  padding: 10px 69px;
}

.popular-products-link:hover,
.popular-products-link:focus,
.popular-brands-link:hover,
.popular-brands-link:focus  {
  background-color: #ca2c37;
}

.popular-products-link:active,
.popular-brands-link:active {
  background-color: #ba2732;
}

.popular-products ul,
.popular-brands ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-page .products-list-item {
  margin-bottom: 20px;
}

.products-list-item .flag-new {
  background: url('../img/new-flag.png') no-repeat 0 0;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  list-style: none;
}

.products-list-item {
  position: relative;
  width: 218px;
  margin-right: 20px;
  text-align: center;
  border:  1px solid #eaeaea;
}

.products-list-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.buy,
.bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #63a63e;
}

.bookmark:hover,
.bookmark:focus {
  border-color: #32425c;
}

.bookmark:active {
  opacity: 0.3;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
  border-color: #518534;
}

.products-list-item .actions {
  display: none;
}

.products-list-item:hover .actions {
  display: block;
}

.products-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 168px;
  text-align: center;
}

.products-item-image img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.products-list-item:nth-child(4n) {
  margin-right: 0;
}

.inner-page .products-list-item:nth-child(4n) {
  margin-right: 20px;
}

.inner-page .products-list-item:nth-child(3n) {
  margin-right: 0px;
}

.products-list-item:hover,
.products-list-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.products-item-caption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.products-item-title {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 14px;
  padding: 0 25px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.products-item-title a {
  color: inherit;
}

.old-price {
  display: block;
  min-height: 20px;
  margin-bottom: 7px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: line-through;
  color: #999999;
}

.new-price {
  display: block;
  position: relative;
  width: 80px;
  margin-bottom: 20px;
  padding: 10px 30px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.popular-brands {
  margin-bottom: 60px;
}

.brands-list-item {
  width: 218px;
  height: 145px;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 145px;
  font-size: 0;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.popular-brand-link {
  text-indent: -1000px;
  font-size: 0;
}

.brands-list-item:nth-child(4n) {
  margin-right: 0;
}

.brands-list-item img {
  text-align: center;
  vertical-align: middle;
}

.brands-list-item:hover,
.brands-list-item:focus {
  background-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list-item:active {
  background-color: #ffffff;
  box-shadow: 0 10px 4px 0 rgba(41, 52, 73, 0.5);
}
