body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: none;
}

a {
  text-decoration: none;
}

.contacts button,
.submit {
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  padding-right: 15px;

}
.contacts button:hover,
.contacts button:focus,
.submit:hover,
.submit:focus {
  background-color: #ca2c37;
}

.contacts button:active,
.submit:active {
  background-color: #ba2732;
}

.main-logo {
  background-color: #ee3643;
}

.top-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;

  background-color: #293449;
}

.header-basket-list {
 list-style: none;
}

input[type="search"] {
  background-color: #293449;
  color: #ffffff;
  border: none;
}

input[type="search"]:hover {
  background-color: #212a3a;
  color: #ffffff;
  border: none;
}

.header-basket-list li:nth-child(1) a:hover,
.header-basket-list li:nth-child(2) a:hover,
.header-basket-list li:nth-child(1) a:focus,
.header-basket-list li:nth-child(2) a:focus {
  background-color: #212a3a;
}

.header-basket-list li:nth-child(1) a:active,
.header-basket-list li:nth-child(2) a:active {
  color: #8b8e94;
  background-color: #161d29;
}

.header-basket-list li:nth-child(3) a {
  background-color: #63a63e;
}

.header-basket-list li:nth-child(3) a:focus,
.header-basket-list li:nth-child(3) a:hover {
  background-color: #5fbb2d;
  color: #a8c29a;
}

.header-basket-list li:nth-child(3) a:active {
  background-color: #518534;
}

.header-basket-link {
  color: #ffffff;
}

.header-bottom-contacts p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.phone-button{
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-bottom-contacts address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
}

.user-login,
.user-registration,
.profile-user {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  color: #000000;
  list-style: none;
}

.user-login:hover,
.user-registration:hover,
.user-login:focus,
.user-registration:focus,
.profile-user:focus {
  color: #ee3643;
}

.user-login:active,
.user-registration:active,
.profile-user:active {
  color: #b7b7b7;
}

.nav-user-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration:underline;
  color: #3f4e66;
}

.nav-user-link:hover {
  text-decoration:underline;
  color: #ee3643;
}

.nav-user-link:active {
  text-decoration:underline;
  color: #b7bfc8;
}

.main-nav-list {
  font-size: 17px;
  line-height: 17px;
  list-style: none;

  background-color: #32425c;

}

.main-nav-link {
  color: #ffffff;
}

.main-nav-link:hover {
  background-color: #293449;
}

.main-nav-link:active {
  color: #59616e;
  background-color: #1d2739;
}

.breadcrumbs li {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.sorting-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  list-style: none;
}

.sorting-link {
  color: #c5c5c5;
  text-decoration: underline #ee3643;
}

.sorting-link:hover {
  color: #000000;
  text-decoration: underline #ee3643;
}

.sorting-link:active {
  color: #ee3643;
  text-decoration: none; 
}


.advantages h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.advantages p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.transport-company-name-item {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  list-style: none;

}

.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.footer-top,
.footer-menu {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;

}

.footer-menu-top-item,
.footer-menu-bottom-item {
  list-style: none;
}

.footer-menu-top-link {
  color: #ffffff;
}

.footer-menu-top-link:hover,
.footer-menu-bottom-link:hover {
  text-decoration: underline;
}

.footer-menu-top-link:active {
  color: #929caa;
  text-decoration: inherit;
}

.footer-menu-bottom-link:active {
  color: #92856d;
  text-decoration: inherit;
}

.footer-menu-bottom-link {
  color: #f1c77e;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.social-bottom-list {
  list-style: none;
  text-align: center;
}

.social-bottom-link {
  list-style: none;
  color: #ffffff;
}

.footer-feedback-link,
.footer-developer-link {
  list-style: none;
  color: #f1c77e;
}

.modal {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.form-feedback input[type="text"],
.form-feedback input[type="email"],
.form-feedback textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #d7dcde;
}

.form-feedback input[type="text"]:hover,
.form-feedback input[type="email"]:hover,
.form-feedback textarea:hover {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #b5b5b5;
}

.form-feedback input[type="text"]:focus,
.form-feedback input[type="email"]:focus,
.form-feedback textarea:focus {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #ee3643;
}
