body {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.flag-new {
  background: url('../img/new-flag.png') no-repeat 0 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
  background-color: #f2f7f8;
  background-image: url('../img/header-bg.jpg');
  background-repeat: repeat;
  background-position: 0 0;
}

.inner-page .main-header {
  margin-bottom: 15px;
}

.top-header {
  width: 100%;
  margin-bottom: 45px;
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.top-header-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header a {
  display: block;
}

.main-logo {
  display: inline-block;
  width: 220px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 5px 0 0 #ba2732;
  background-color: #ee3643;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.main-logo img {
  width: 111px;
  height: 18px;
  margin: 0;
  padding: 12px 54px;
  vertical-align: middle;
}

.search-form {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
}

.search-form .search {
  width: 100%;
  margin: 0;
  padding: 12px 0;
  padding-left: 49px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  box-sizing: border-box;
}

.button-search {
  position: absolute;
  top: 0;
  left: 15px;
  width: 17px;
  height: 17px;
}

.search-form .search:hover {
  background-color: #212a3a;
}

.search-form .search:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-form .search:active {
  background-color: #293449;
}

.button-search {
  display: block;
  margin: 0;
  padding: 12px 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.search:hover ~ .button-search {
  opacity: 1;
}

.search:focus ~ .button-search {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 1;
}

.search:focus ~ .button-search path {
  fill: #ee3643;
}

.header-market-link,
.header-basket-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 21px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}
.header-market-link {
  padding: 12px 26px 12px 44px;
}
.header-market-link:before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 17px;
  background-image: url('../img/icon-bookmark.svg');
  background-position: 0 0;
  opacity: 0.3;
}

.header-basket-link {
  padding: 11px 29px 13px 50px;
}

.header-basket-link:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 18px;
  background-image: url('../img/icon-cart.svg');
  background-position: 0 0;
  opacity: 0.3;
}

.header-chekorder-link {
  padding: 13px 22px;
  margin-right: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  background-color: #63a63e;
}

.header-market-link,
.header-basket-link {
  padding: 12px 29px 14px 44px;
}

.header-market-link:hover,
.header-basket-link:hover,
.bookmarks:focus,
.header-basket-link:focus {
  background-color: #212a3a;
}

.header-market-link:active,
.header-basket-link:active {
  background-color: #161d29;
}

.header-chekorder-link:hover,
.header-chekorder-link:focus {
  background-color: #5fbb2d;
}

.header-chekorder-link:active {
  background-color: #518534;
}

.header-market-link:hover::before,
.header-basket-link:hover::before,
.header-market-link:focus::before,
.header-basket-link:focus::before {
  opacity: 1;
}

.header-market-link,
.header-basket-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 21px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.header-market-link {
  padding: 12px 26px 12px 44px;
}

.header-market-link:before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 13px;
  left: 17px;
  background-image: url('../img/icon-bookmark.svg');
  background-position: 0 0;
  opacity: 0.3;
}

.header-basket-link {
  padding: 11px 29px 13px 50px;
}

.header-basket-link:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 13px;
  left: 18px;
  background-image: url('../img/icon-cart.svg');
  background-position: 0 0;
  opacity: 0.3;
}

.header-chekorder-link {
  padding: 13px 22px;
  margin-right: 0;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  background-color: #63a63e;
}

.header-market-link,
.header-basket-link {
  padding: 12px 29px 14px 44px;
}

.header-market-link:hover,
.header-basket-link:hover,
.bookmarks:focus,
.header-basket-link:focus {
  background-color: #212a3a;
}

.header-market-link:active,
.header-basket-link:active {
  background-color: #161d29;
}

.header-chekorder-link:hover,
.header-chekorder-link:focus {
  background-color: #5fbb2d;
}

.header-chekorder-link:active {
  background-color: #518534;
}

.header-market-link:hover::before,
.header-basket-link:hover::before,
.header-market-link:focus::before,
.header-basket-link:focus::before {
  opacity: 1;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}

.header-bottom .paragraph-header {
  width: 196px;
  margin: 0;
  padding: 0;
  padding-left: 54px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}

.header-bottom-contacts {
  width: 250px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.phone {
  position: relative;
  width: 170px;
  padding: 9px 35px;
  padding-left: 64px;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0.42px;
  text-align: center;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.phone::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: 15px;
  background: url('../img/icon-phone.svg') no-repeat 0 0;
}

address {
  width: 270px;
  padding: 4px 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #32425c;
}

.user-nav {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.user-nav-list {
  width: 299px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-nav-item {
  margin: 0;
  padding: 0;
}

.user-login-link,
.user-registration-link {
  display: block;
  position: relative;
  margin: 0;
  padding: 12px 25px;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.user-login-link::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 15px;
  left: 14px;
  background-image: url('../img/icon-login.svg');
  background-position: 0 0;
  background-color: transparent;
  opacity: 0.3;
}

.user-login-link:hover::before {
  opacity: 1;
}

.user-login-link:hover,
.user-login-link:focus,
.user-registration-link:hover,
.user-registration-link:focus {
  color: #ee3643;
}

.user-login-link:active::before {
  opacity: 0.3;
}

.user-login-link:active,
.user-registration-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-login-link {
  width: 121px;
  margin-right: 10px;
  padding: 13px 25px 13px 47px;
  box-sizing: border-box;
}

.user-registration-link {
  width: 150px;
  padding: 13px 25px 13px;
  box-sizing: border-box;
}

.main-nav {
  width: 940px;
  margin-bottom: 60px;
  background-color: #32425c;
  box-sizing: border-box;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #32425c;
}

.main-nav-item {
  margin: 0;
  padding: 0;
}

.main-nav-link {
  padding: 20px 31px 23px 30px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}


.main-nav-link:not([href]),
.main-nav-link:hover,
.main-nav-link:focus {
  background-color: #293149;
}

.main-nav-link:active {
  background-color: #1d2439;
}

.promo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.promo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo-item {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  overflow: hidden;
}

.promo-item h3 {
  margin: 0;
  padding: 18px 22px 24px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}
.promo-item:nth-child(3n) {
  margin-right: 0;
}

.promo-item:first-child {
  order: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url('../img/icon-1.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
  background-color: #ffbf47;
}
.promo-item:nth-child(2) {
  order: 2;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #3bbce3;
  background-image: url('../img/icon-2.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
}
.promo-item:nth-child(3) {
  order: 3;
  margin-right: 0;
  background-color: #dc91d8;
  background-image: url('../img/icon-3.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
}
.vertical-promo-item {
  order: 5;
  width: 300px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vertical-promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo-special-offers-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  background-color: #8ed78f;
  background-image: url('../img/icon-4.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
}
.promo-delivery-item {
  width: 300px;
  height: 123px;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #ffc047;
  background-image: url('../img/icon-5.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
}
.flag-new {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.promo-link {
  margin-left: 22px;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 17.5px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 2px;
}
.promo-link:hover,
.promo-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo .slider {
  position: relative;
  width: 620px;
  height: 266px;
  order: 4;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  /* временно  */
  background-color: #ccc;
}

.popular-products {
  margin-bottom: 21px;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-products-heading,
.popular-brands-heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #32425c;
}

.popular-products-heading {
  margin: 0;
  padding: 27px 27px;
}

.popular-brands-heading {
  margin: 0;
  padding: 27px 23px;
}

.popular-products-link,
.popular-brands-link {
  display: block;
  margin: 25px 24px;
  padding: 10px 55px;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  box-sizing: border-box;
}

.popular-brands-link {
  padding: 10px 69px;
}

.popular-products-link:hover,
.popular-products-link:focus,
.popular-brands-link:hover,
.popular-brands-link:focus  {
  background-color: #ca2c37;
}

.popular-products-link:active,
.popular-brands-link:active {
  background-color: #ba2732;
}

.popular-products ul,
.popular-brands ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-page .products-list-item {
  margin-bottom: 20px;
}

.products-list-item .flag-new {
  background: url('../img/new-flag.png') no-repeat 0 0;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  list-style: none;
}

.products-list-item {
  position: relative;
  width: 218px;
  margin-right: 20px;
  text-align: center;
  border:  1px solid #eaeaea;
}

.products-list-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.buy,
.bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #63a63e;
}

.bookmark:hover,
.bookmark:focus {
  border-color: #32425c;
}

.bookmark:active {
  opacity: 0.3;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
  border-color: #518534;
}

.products-list-item .actions {
  display: none;
}

.products-list-item:hover .actions {
  display: block;
}

.products-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 168px;
  text-align: center;
}

.products-item-image img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.products-list-item:nth-child(4n) {
  margin-right: 0;
}

.inner-page .products-list-item:nth-child(4n) {
  margin-right: 20px;
}

.inner-page .products-list-item:nth-child(3n) {
  margin-right: 0px;
}

.products-list-item:hover,
.products-list-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.products-item-caption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.products-item-title {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 14px;
  padding: 0 25px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.products-item-title a {
  color: inherit;
}

.old-price {
  display: block;
  min-height: 20px;
  margin-bottom: 7px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: line-through;
  color: #999999;
}

.new-price {
  display: block;
  position: relative;
  width: 80px;
  margin-bottom: 20px;
  padding: 11px 30px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.popular-brands {
  margin-bottom: 60px;
}

.brands-list-item {
  width: 218px;
  height: 145px;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 145px;
  font-size: 0;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.popular-brand-link {
  text-indent: -1000px;
  font-size: 0;
}

.brands-list-item:nth-child(4n) {
  margin-right: 0;
}

.brands-list-item img {
  text-align: center;
  vertical-align: middle;
}

.brands-list-item:hover,
.brands-list-item:focus {
  background-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list-item:active {
  background-color: #ffffff;
  box-shadow: 0 10px 4px 0 rgba(41, 52, 73, 0.5);
}

/*advantages*/

.contacts-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 86px;
}

.advantages {
  width: 520px;
}

.contacts {
  width: 300px;
}

.headline-company {
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.paragraph-advantages,
.paragraph-contacts {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.paragraph-advantages {
  margin-bottom: 24px
}

.paragraph-contacts {
  margin-bottom: 30px;
}

.transport-company-name-list {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  list-style: none;
}

.transport-company-name-item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 35px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.transport-company-name-item::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.contacts-map {
  width: 300px;
  height: 158px;
  margin-bottom: 42px;
}

.contacts-map-link {
  font-size: 0;
}

.advantages-button,
.contacts-button {
  display: block;
  padding: 9px 40px;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  cursor: pointer;
  box-sizing: border-box;
}

.advantages-button:hover,
.contacts-button:hover,
.advantages-button:focus,
.contacts-button:focus {
  background-color: #ca2c37;
}

.advantages-button:active,
.contacts-button:active {
  background-color: #ba2732;
}

.advantages-button {
  max-width: 220px;
}

.contacts-button {
  width: 100%;
  margin: 0;
  border: none;
}

/*footer*/

.page-footer {
  margin-top: 86px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
}

.inner-page .page-footer {
  margin-top: 0;
}

.footer-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-footer .footer-logo {
  display: block;
  align-self: flex-start;
  width: 220px;
  line-height: 63px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #ba2732;
  box-sizing: border-box;
}

.page-footer .footer-logo:hover,
.page-footer .footer-logo:focus {
  background-color: #ca2c37;
}

.page-footer .footer-logo:active {
  background-color: #ba2732;
}

.footer-logo img {
  width: 138px;
  height: 21px;
  vertical-align: middle;
  box-sizing: border-box;
}

.footer-navigation {
  width: 600px;
  margin-top: 40px;
}

.footer-menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item {
  margin-left: 57px;
}

.footer-menu-link {
  text-decoration: none;
  color: #f1f5f7;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  border-bottom: 1px solid #f1f5f7;
}

.footer-menu-link:active {
  color: #929caa;
  border: none;
}

.page-footer .footer-address {
  width: 329px;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 52px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}

.product-menu-navigation {
  width: 580px;
  align-self: flex-start;
  margin-top: 32px;
}

.product-menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-menu-item {
  margin-left: 57px;
}

.product-menu-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #ffd180;
}

.product-menu-link:hover,
.product-menu-link:focus {
  border-bottom: 1px solid #ffd180;
}

.product-menu-link:active {
  color: #998a6e;
  border: none;
}

.services {
  width: 100%;
  display: flex;
  background-color: #f3f8f9;
  margin-bottom: 50px;
}

.services h2 {
  margin-top: 65px;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.services p {
  width: 400px;
  margin-bottom: 68px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.services-slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 24px;
}

.services-slider-controls {
  position: relative;
  width: 240px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.services-slider-controls::after {
  position: absolute;
  top: -50px;
  right: -20px;
  content: "";
  width: 10px;
  height: 279px;
  background: url('../img/layer-118.png') no-repeat 0 0;
  padding: 0 10px;
}

.service-button {
  display: block;
  width: 240px;
  padding: 15px 22px 16px 21px;  
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449,
        inset 0 1px 0 0 #405069;
  transition: all 0.5s;
  box-sizing: border-box;
}

.service-button:hover,
.service-button:focus {
  color: #ffffff;
  background-color: #293449;
  box-shadow: 0 1px 0 0 #293449,
        inset 0 1px 0 0 #405069;
}

.services-slider-content {
  width: 690px;
  height: 261px;
  overflow: hidden;
}

.slider-content-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flx-wrap: nowrap;
  width: 690px;
  height: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-content-list::after {
  content: "";
  display: block;
}

.content-list-item {
  width: 690px;
  height: 270px;
  padding-left: 70px;
  box-sizing: border-box;
  display: none;
}

.delivery-content {
  background: url('../img/delivery.png') no-repeat 220px 24px;
}

.assurance-content {
  background: url('../img/guaranty.png') no-repeat 270px 0px;
}

.credit-content {
  background: url('../img/credit.png') no-repeat 190px 0px;
}

#delivery:checked ~ .services-slider-content .delivery-content {
  display: block;
}

#assurance:checked ~ .services-slider-content .assurance-content {
  display: block;
}

#credit:checked ~ .services-slider-content .credit-content {
  display: block;
}

#delivery:checked ~ .services-slider-controls .delivery-button {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff,
        inset 0 1px 0 0 #ffffff;
}

#assurance:checked ~ .services-slider-controls .assurance-button {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff,
        inset 0 1px 0 0 #ffffff;
}

#credit:checked ~ .services-slider-controls .credit-button {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff,
        inset 0 1px 0 0 #ffffff;
}

.content-list-item h3 {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}

.content-list-item p {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

.content-list-item:nth-child(1) p {
  width: 275px;
}
.content-list-item:nth-child(2) p {
  width: 380px;
}

.content-list-item:nth-child(3) p {
  width: 279px;
}

.content-list-item .take-credit {
  display: block;
  width: 195px;
  margin: 0;
  margin-top: 30px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ff5357;
  box-sizing: border-box;
}

.credit-content .take-credit:hover,
.credit-content .take-credit:focus {
  background-color: #ca3c37;
}

.credit-content .take-credit:active {
  background-color: #ba2732;
}

.footer-bottom {
  padding-bottom: 22px;
  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.copyright {
  width: 300px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.social-list {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 20px;
  list-style: none;
}

.social-item {
  margin: 0;
  padding: 0;
  margin-right: 4px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  padding: 10px 21px;
  color: transparent;
  background-color: #212a3a;
  border-radius: 50%;
}

.vk {
  background-color: #212a3a;
  background-image: url('../img/icon-vk.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-color: #212a3a;
  background-image: url('../img/icon-fb.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.instagram {
  background-color: #212a3a;
  background-image: url('../img/icon-insta.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-link:hover,
.social-link:focus {
  background-color: #ee3643;
}

.social-link:active {
  background-color: #ee3643;
}

.footer-feedback {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feedback-mail {
  margin-right: 30px;
}

.feedback-mail span,
.produced-by span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.footer-feedback-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #ffd180;
}

.footer-feedback-link:hover,
.footer-feedback-link:focus {
  border-bottom: 1px solid #ffd180;
}

.footer-feedback-link:active {
  color: #ee3643;
  border: none;
}

/*catalog-page*/

.inner-page .header-basket-link {
  background-color: #ee3643;
}

.user-nav {
  flex-direction: column;
}

.header-bottom p {
  padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}

.user-account {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 299px;
  height: 45px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffff;

}
.user-name-link {
  display: block;
  position: relative;
  padding: 0;
  padding-left: 46px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.user-name-link::before {
  position: absolute;
  top: 0;
  left: 13px;
  content: "";
  width: 20px;
  height: 18px;
  background-image: url('../img/icon-user.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.button-logout {
  position: relative;
  width: 20px;
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-logout::before {
  position: absolute;
  top: 0px;
  right: 10px;
  content: "";
  width: 20px;
  height: 17px;
  background: url('../img/icon-logout.svg') no-repeat 0 0;
  opacity: 0.3;
}

.user-name-link:hover::before,
.button-logout:hover::before,
.user-name-link:focus::before,
.button-logout:focus::before {
  opacity: 1;
}

.user-name-link:active,
.button-logout:active::before {
  opacity: 0.2;
}

.inner-page .user-nav-list {
  width: 229px;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
}

.user-profile-link,
.my-purchases-link {
  position: relative;
  padding-top: 5px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  color: #32425c;
  border-bottom: 1px solid #32425c;
}

.my-purchases-link::after {
  position: absolute;
  top: 12px;
  right: -25px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-nav-list a:hover,
.user-nav-list a:focus {
  color: #ee3643;
  border-color: #ee3643;
}

.user-nav-list a:active {
  color: #bbc2cb;
  border: none;
}

.breadcrumbs-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  position: relative;
  margin: 0;
  padding: 0;
  padding-right: 41px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.breadcrumbs-link::after {
  position: absolute;
  top: 5px;
  right: 12px;
  content: "";
  width: 8px;
  height: 12px;
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.home::after {
  top: -10px;
  right: 15px;
}
.breadcrumbs-current-link::after {
  background: none;
}
.home {
  position: relative;
  padding-right: 50px;
  font-size: 0;
  text-indent: -1000px;
}
.home::before {
  position: absolute;
  top: -10px;
  left: 0;
  content: "";
  width: 14px;
  height: 12px;
  background: url('../img/icon-home.svg') no-repeat 0 0;
}

/*filters*/
.catalog-heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f1f6f8;
}

.catalog-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters h2 {
  margin: 0;
  margin-bottom: 13px;
  padding: 8px 19px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  background-color: #f7f3ec;
}

fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  border: none;
}

.price-fieldset {
  margin-bottom: 30px;
}

.checkboxes {
  margin-bottom: 20px;
}

.supplies {
  margin-bottom: 56px;
}

.price-fieldset::after,
.checkboxes::after {
  position: absolute;
  bottom: -14px;
  left: 0;
  content: "";
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
}

.checkboxes::after {
  bottom: -3px;
}

.price-range {
  margin-bottom: 50px;
}

.range-container {
  width: 220px;
  height: 80px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

.range-container,
.range-output-min,
.range-output-max {
  background-color: #f7f3ec;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  font-size: 0;
}

.price-controls input {
  width: 95px;
  height: 38px;
  margin: 0;
  padding: 8px 10px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #283136;
  border: none;
  background-color: #f7f3ec;
  box-sizing: border-box;
}

.max-price {
  margin-right: 0;
}

.filters legend {
  margin-bottom: 14px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.filters label {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 35px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.checkbox-label::before {
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
  width: 23px;
  height: 23px;
  background: url('../img/checkbox-off.svg') no-repeat 0 0;
}

input[type="checkbox"]:checked + .checkbox-label::before {
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  background: url('../img/checkbox-on.svg') no-repeat 0 0;
}

input[type="radio"] + .radio-label::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background: url('../img/radio-off.svg') no-repeat 0 0;
}

input[type="radio"]:checked + .radio-label::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background: url('../img/radio-on.svg') no-repeat 0 0;
}

input + label::before {
  opacity: 0.7;
}

input:hover + label::before,
input:focus + label::before {
  opacity: 1;
}

input:disabled + label {
  opacity: 0.3;
}

button.filter_show {
  margin: 0;
  padding: 11px 38px 10px;;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}

.catalog-items {
  width: 700px;
}

.sorting-menu {
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  background-color: #f7f3ec;
}

.sorting-menu h2 {
  width: 220px;
  margin: 0;
  margin-right: 20px;
  padding: 8px 17px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  box-sizing: border-box;
}

.sorting-list {
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 15px;
  box-sizing: border-box;
}

.sorting-item {
  margin: 0;
  padding: 0;
}

.btn-sort {
  display: inline-block;
  margin: 0;
  margin-right: 13px;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-by-type {
  margin-left: 20px;
}

.sort-by-functionality {
  margin-left: 30;
}

.btn-sort:hover,
.btn-sort:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.btn-sort:active {
  color: #ee3643;
  border: none;
}

.btn-up,
.btn-down {
  font-size: 0;
  text-indent: -1000px;
}

.btn-up svg,
.btn-down svg {
  width: 11px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.btn-up path,
.btn-down path {
  opacity: 0.2;
}

.btn-up:hover path,
.btn-up:focus path,
.btn-down:hover path,
.btn-down:focus path {
  opacity: 1;
}

.btn-up:active path,
.btn-down:active path {
  fill: #ee3643;
}

.btn-up:active,
.btn-down:active {
  background-color: #ee3643;
}

/*paginator-list*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 250px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  margin: 0;
  padding: 10px 13px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-link:hover,
.pagination-link:focus {
  border-color: #bdc6ca;
}

.pagination-link:active {
  border-color: #ee3643;
}

.pagination-link-current {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

/*about-drills*/
.about-drills {
  width: 100%;
  margin-bottom: 0;
  background-color: #f1f6f8;
}

.about-drills h2 {
  padding-top: 65px;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.about-drills p {
  margin: 0;
  padding-bottom: 70px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #000000;
}

/*popups*/

.modal-map-big {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin: -223px -470px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.modal-map-big img {
  width: 100%;
  height: auto;
}
.map-wrapper {
  position: relative;
}
.modal-cart-added .modal-close,
.map-wrapper .modal-close,
.modal-feedback .modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  text-indent: -1000px;
  border: none;
  background: url('../img/icon-close.svg') no-repeat 0 0;
}

.modal-map img {
  box-shadow: 0 0 3px 2px rgba(0, 0,0 , 0.2);
}
.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
  height: 423px;
  margin: -210px -310px;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: left;
  color: #a9a9a9;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  z-index: 1000;
}

.modal-feedback label {
  display: block;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.modal-feedback input,
.modal-feedback textarea {
  display: block;
  border-radius: 2px;
  border: 2px solid #a9a9a9;
  background-color: #ffffff;
}

.feedback-button {
  width: 460px;
  padding: 10px 60px;
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;
  box-sizing: border-box;
}

.feedback-button:hover,
.feedback-button:focus {
  background-color: #ca2c37;
}

.feedback-button:active {
  background-color: #ba2732;
}

.feedback-form {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.modal-feedback .user-name-column,
.modal-feedback .user-email-column,
.modal-feedback .textarea-column {
  margin: 0;
  margin-top: 46px;
  padding: 0;
  box-sizing: border-box;
}

.modal-feedback .user-name-column {
  margin-right: 20px;
}

.modal-feedback .user-email-column {
  margin-left: 0;
}

.user-name-column label,
.user-email-column label {
  margin-bottom: 12px;
  font-size: 18px;
}

.user-name-column input,
.user-email-column input {
  width: 220px;
  padding: 12px 15px 12px;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
  box-sizing: border-box;
}

.modal-feedback .textarea-column {
  width: 460px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 37px;
  padding: 0;
}

.textarea-column label {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}

.textarea-column textarea {
  width: 460px;
  height: 114px;
  padding: 13px 16px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  border: 2px solid #dee3e4;
  box-sizing: border-box;
}

.feedback-form-bottom {
  width: 620px;
  text-align: center;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.modal-cart-added {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  height: 282px;
  margin: -148px -310px;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  z-index: 1000;
}

.modal-cart-added p {
  position: relative;
  margin: 0;
  width: 460px;
  margin-top: 75px;
  padding: 0;
  padding-left: 98px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.modal-cart-added p:before {
  position: absolute;
  top: -19.5px;
  left: 80px;
  content: "";
  width: 66px;
  height: 66px;
  background: url('../img/form-1.svg') no-repeat 0 0;
}

.modal-cart-added .modal-bottom {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f4f4f4;
}

.modal-bottom .modal-checkout,
.modal-bottom .continue-shopping {
  display: block;
  width: 220px;
  padding: 10px 40px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.modal-bottom .modal-checkout {
  margin-right: 20px;
}

.modal-cart-added .modal-checkout {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.modal-cart-added .modal-checkout:hover,
.modal-cart-added .modal-checkout:focus {
  border-color: #ca2c37;
  background-color: #ca2c37;
}

.modal-cart-added .modal-checkout:active {
  border-color: #ba2732;
  background-color: #ba2732;
}

.modal-cart-added .continue-shopping {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.modal-cart-added .continue-shopping:hover,
.modal-cart-added .continue-shopping:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-cart-added .continue-shopping:active {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
