body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: none;
}

a {
  text-decoration: none;
}

.button-link,
.button-submit {
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;


}
.button-link:hover,
.button-link:focus,
.button-submit:hover,
.button-submit:focus {
  background-color: #ca2c37;
}

.button-link:active,
.button-submit:active {
  background-color: #ba2732;
}

.button-catalog-buy {
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
  border: none;
}

.button-catalog-bookmarks {
  color: #000000;
  border-color: #63a63e;
}

.button-catalog-buy:hover {
  background-color: #5fbb2d;
}

.button-catalog-bookmarks:hover {
  color: #000000;
  border-color: #32425c;
}

.button-catalog-buy:active {
  background-color: #518534;
}

.button-catalog-bookmarks:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.basket-bottom {
  border: none;
  background-color: #ffffff;
}

.basket-bottom:hover,
.basket-bottom:active {
  color: #ffffff;
  background-color: #ee3643;
}

.main-logo {
  background-color: #ee3643;
}

.top-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;

  background-color: #293449;
}

.header-basket-list {
 list-style: none;
}

input[type="search"] {
  background-color: #293449;
  color: #ffffff;
  border: none;
}

input[type="search"]:hover {
  background-color: #212a3a;
  color: #ffffff;
  border: none;
}

.header-basket-list li:nth-child(1) a:hover,
.header-basket-list li:nth-child(2) a:hover,
.header-basket-list li:nth-child(1) a:focus,
.header-basket-list li:nth-child(2) a:focus {
  background-color: #212a3a;
}

.header-basket-list li:nth-child(1) a:active,
.header-basket-list li:nth-child(2) a:active {
  color: #8b8e94;
  background-color: #161d29;
}

.header-basket-list li:nth-child(3) a {
  background-color: #63a63e;
}

.header-basket-list li:nth-child(3) a:focus,
.header-basket-list li:nth-child(3) a:hover {
  background-color: #5fbb2d;
  color: #a8c29a;
}

.header-basket-list li:nth-child(3) a:active {
  background-color: #518534;
}

.header-basket-link {
  color: #ffffff;
}

.header-bottom-contacts p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.phone-button{
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-bottom-contacts address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
}

.user-login,
.user-registration,
.profile-user {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  color: #000000;
  list-style: none;
}

.user-login:hover,
.user-registration:hover,
.user-login:focus,
.user-registration:focus,
.profile-user:focus {
  color: #ee3643;
}

.user-login:active,
.user-registration:active,
.profile-user:active {
  color: #b7b7b7;
}

.nav-user-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration:underline;
  color: #3f4e66;
}

.nav-user-link:hover {
  text-decoration:underline;
  color: #ee3643;
}

.nav-user-link:active {
  text-decoration:underline;
  color: #b7bfc8;
}

.main-nav-list {
  font-size: 17px;
  line-height: 17px;
  list-style: none;

  background-color: #32425c;

}

.main-nav-link {
  color: #ffffff;
}

.main-nav-link:hover {
  background-color: #293449;
}

.main-nav-link:active {
  color: #59616e;
  background-color: #1d2739;
}

.promo-list {
  list-style: none;
}

.promo-list h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-list li:nth-child(1) {
  background-color: #ffbf47;
}

.promo-list li:nth-child(1) a {
  background-color: #e5ac40;
}

.promo-list li:nth-child(2) {
  background-color: #3bbce3;
}

.promo-list li:nth-child(2) a {
  background-color: #35a9cc;
}

.promo-list li:nth-child(3) {
  background-color: #dc91d8;
}

.promo-list li:nth-child(3) a {
  background-color: #c682c2;
}

.promo-list li:nth-child(4) {
  background-color: #8ed78f; ffc047
}

.promo-list li:nth-child(4) a {
  background-color: #80c180;
}

.promo-list li:nth-child(5) {
  background-color: #ffc047;
}

.promo-list li:nth-child(5) a {
  background-color: #e5ac40;
}

.promo-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs li {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.sorting-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  list-style: none;
}

.sorting-link {
  color: #c5c5c5;
  text-decoration: underline #ee3643;
}

.sorting-link:hover {
  color: #000000;
  text-decoration: underline #ee3643;
}

.sorting-link:active {
  color: #ee3643;
  text-decoration: none;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
}

input[type="checkbox"] + label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

input[type="radio"] + label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: #cccccc;
}

.popular-items h2,
.popular-brands h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
}



.catalog-list,
.popular-items-list {
  list-style: none;
}

.catalog-item,
.popular-items-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover,
.popular-items-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.catalog-link,
.popular-items-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.new-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.advantages h2,
.contacts h2,
.services h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
}

.service-delivery h2 ,
.service-guaranty h2,
.service-credit h2{
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.services p,
.advantages p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.transport-company-name-item {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  list-style: none;

}

.footer-top,
.footer-menu {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;

}

.footer-menu-top-item,
.footer-menu-bottom-item {
  list-style: none;
}

.footer-menu-top-link {
  color: #ffffff;
}

.footer-menu-top-link:hover,
.footer-menu-bottom-link:hover {
  text-decoration: underline;
}

.footer-menu-top-link:active {
  color: #929caa;
  text-decoration: inherit;
}

.footer-menu-bottom-link:active {
  color: #92856d;
  text-decoration: inherit;
}

.footer-menu-bottom-link {
  color: #f1c77e;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.social-bottom-list {
  list-style: none;
  text-align: center;
}

.social-bottom-link {
  color: #ffffff;
}

.footer-feedback-link,
.footer-developer-link {
  color: #f1c77e;
}

.footer-feedback-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active,
.footer-developer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-basket-top h3 {
  font-size: 30px;
  line-height: 30px;
}

.form-feedback input[type="text"],
.form-feedback input[type="email"],
.form-feedback textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #d7dcde;
}

.form-feedback input[type="text"]:hover,
.form-feedback input[type="email"]:hover,
.form-feedback textarea:hover {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #b5b5b5;
}

.form-feedback input[type="text"]:focus,
.form-feedback input[type="email"]:focus,
.form-feedback textarea:focus {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #ee3643;
}
