body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: none;
}

a {
  text-decoration: none;
}

.top-header {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  list-style: none;

  background-color: #293449;
}
.header-basket-list {
 list-style: none;
}

.header-basket-link {
  color: #ffffff;
}

.header-bottom-contacts p {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.phone-button{
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-bottom-contacts address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #32425c;
}

.user-login,
.user-registration {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  color: #000000;
  list-style: none;
}

.main-nav-list {
  font-size: 17px;
  line-height: 17px;
  list-style: none;

  background-color: #293449;

}

.main-nav-link {
  color: #ffffff;
}

.advantages h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.advantages p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
